<div class="row">
	<div class="span12">
		<h3>Brackets</h3>
		<%= render :partial => "brackets" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Bracket"), new_bracket_path, :class => 'btn btn-primary', :id => 'Create Bracket' %>