<div class="row">
    <div class="span10">
          <h3>Active Users</h3>
          <%= render :partial => "users", :locals => { users: @users, status: "active" } %>
    </div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a User"), new_user_path, :class => 'btn btn-primary', :id => 'Create User' %>