<div class="row">
	<div class="span12">
		<h3>Students</h3>
		<%= render :partial => "active_students" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Student"), new_registration_path, :class => 'btn btn-primary', :id => 'Create Student' %>