<div class="row">
	<div class="span12">
		<h3>Parents/Guardians</h3>
		<%= render :partial => "guardians" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Guardian"), new_guardian_path, :class => 'btn btn-primary', :id => 'Create Guardian' %>