<!-- www.123contactform.com script begins here -->

<!-- formalign --><center>

<script type="text/javascript">
<!--
var formrules=new Array(0);
  
//-->
</script>
<script type="text/javascript">
var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + cfJsHost + "dflzqrzibliy5.cloudfront.net/includes/interactive123cf.js?5580' type='text/javascript'%3E%3C/script%3E"));
</script>

<style type="text/css">
  .focus { background: #FEF1C1; } 
  .class123-label { font-family: Arial, Helvetica, sans-serif; font-size: small; color: #726E62;}
  .headline { color: #726E62; }
  .class123-labelmic { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #666666; }
  .class123-labelinfo { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #666666; }
  .class123-sidebyside { float:left; margin:0 5px 0 0;}
  .class123-twocol { float:left; width:45%; margin:0 5px 0 0;}
  .class123-threecol { float:left; width:30%; margin:0 5px 0 0;}
  .class123-likert_style_li { display:table-cell; vertical-align:middle; text-align:center; top:0px; padding:0px; /*width:20%;*/ height:50px; margin:0px; font:79%/100% verdana; font-weight:bold; background:#f8f8f8; zoom:1; *display:inline; }
  .class123-likert_style_li2 { display:table-cell; vertical-align:middle; text-align:center; top:0px; padding:0px; /*width:20%;*/ height:50px; margin:0px; font:79%/100% verdana; zoom:1; *display:inline; }
  .class123-select { height:1.6em; }
  
  .class123-savereturn { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding:5px 10px;}
  .class123-goback { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding:5px 10px; color: #C80042;}
  .class123-pbline { display:none; }
  .class123-pbprev { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding-left:0px; padding-right:0px; }
  .class123-pagination { float:left; width:99%; /*min-width:550px;*/ font-size:10px; margin:0px; margin-bottom:10px; }
  #mainform123 .class123-pagination { background:transparent; }.class123-progresscircle { margin:0px !importat; background: #CCC; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; float:left; }
  .class123-progresscircleactive { margin:0px !importat; background:#FEF1C1; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
  .class123-progresstext { display:table-cell; height:100%; width: 24px; text-align:center; padding-top:3px; font-family: Arial, Helvetica, sans-serif; font-size:13px; }
  .class123-progressPercDiv { float:left; width:100%; margin:0px !important; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; padding:2px; }
  #mainform123 .class123-progressPercDiv { background:#FFFFFF; }
  
  .class123-progressPercBar { float:left; text-align:right; line-height:23px; padding-right:4px; font-weight:bold; height: 24px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:0px !importat; background:#FEF1C1;}
  #mainform123 .class123-progressPercBar { background:#FEF1C1; }

  .class123-pagename { float:left; font-family: Arial, Helvetica, sans-serif; line-height:14px; margin-left:5px; max-width:85px; margin-top:5px; }  
  .currentPageActive { display:block; }
  .currentPageInactive { display:none; }
  .formdefaultbutcolor { background-color: #FFFFFF }
  .formnotextButton { width:150px; }
  
  .fontbold { font-weight: bold; }
  .fontitalic { font-style: italic; }
  .requiredspan { font-family: Verdana; font-size:10px; color:#FF0000; margin-left:3px; }
  .requiredfield:after{content: "\0000a0*";color:#FF0000;font-size:10px;font-family:Verdana;}
  .columntable tr td { padding:5px; }
  .class123_maintable { text-align: left; }
  .formdefaultbut { display:inline; list-style:none; margin-right:4px; color:#fff; border:none; cursor:pointer; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; font-weight:bold; vertical-align: middle; }
  .footerLink13:link,.footerLink13:visited,.footerLink13:active { font-size:small!important;color:#404040!important; text-decoration:underline!important;}
  .footerLink13:hover{font-size:small!important;color:#FFFFFF!important;text-decoration:none!important;background-color:#C80042!important;}
  
  /* NEW STYLES BEGIN */
  .maintable_centered { margin-left:10%; margin-right:10%; }
  .divonecolumn { width:48% !important; float:left; display:block; margin-right:3px; }
  
  .optionscontainer { width:100%; display:block; float: left; text-align:left; }
  .optionscontainer.pagination {margin-top:6px;}  
  .errormsg, .fielderror { color: #FF0000 !important; }
  .customerror { background-color: #FFFFFF !important; border-color: #FF0000 !important; }
  div[id^="class123-bicTOSFrame"] { background-color:white; overflow-y: auto; max-height:400px; }
  
  
  
  .fieldcontainer { float: left; margin:0; padding:0; width:100%; } /* OLD: margin-bottom:3px; also had display:none, which caused bug on form 376500 */
  .fieldcontainer div .rowleft, .fieldcontainer div .rowright { display:block; float: left; }
  
  .fieldcontainer .rowleft { margin:6px 1%; width:34%; }
  .fieldcontainer .rowright { margin:6px 1%; width: 62%; }
  .fieldcontainer .rowup { margin:3px 0.5%; width: 96%; float:left; }
  .fieldcontainer .rowdown { margin:3px 0.5%; width:96%; float:left; }
  .fieldcontainer .uberfieldlat { margin:3px 1%; }
  .fieldcontainer #printlink { margin-left: 0.5%; }
  .class123-separ-row { float:left; width:100%; background-color: transparent; }
  
  .fieldwidth100 { float:left; width:100%; }
  .fieldwidth90  { float:left; width:90%; }
  .fieldwidth85  { float:left; width:85%; }
  .fieldwidth80  { float:left; width:80%; }
  .fieldwidth75  { float:left; width:75%; }
  .fieldwidth70  { float:left; width:70%; }
  .fieldwidth65  { float:left; width:65%; }
  .fieldwidth60  { float:left; width:60%; }
  .fieldwidth55  { float:left; width:55%; }
  .fieldwidth50  { float:left; width:50%; }
  .fieldwidth45  { float:left; width:45%; }
  .fieldwidth40  { float:left; width:40%; }
  .fieldwidth35  { float:left; width:35%; }
  .fieldwidth30  { float:left; width:30%; }
  .fieldwidth25  { float:left; width:25%; }
  .fieldwidth20  { float:left; width:20%; }
  .fieldwidth15  { float:left; width:15%; }
  .fieldwidth10  { float:left; width:10%; } 
  
  .sortabledemo .fieldwidth90, .sortabledemo .fieldwidth80, .sortabledemo .fieldwidth70, .sortabledemo .fieldwidth60, .sortabledemo .fieldwidth50, .sortabledemo .fieldwidth40, .sortabledemo .fieldwidth30, .sortabledemo .fieldwidth20, .sortabledemo .fieldwidth10
  { background-image:url("/images3/bg-field-container.png");background-repeat:repeat-x;position:relative;background-position:bottom; }
   .thebuttons .divonecolumn.second { padding:6px; }
  .fieldcontainer img, select { max-width:99% !important; } /* fix for Samsung devices */
  #ajax_editField_defaultCountrySel { width:100% !important; }
  #formeditor_page #basicoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
  #formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
  #formeditor_page #basicoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
  #formeditor_page #advancedoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #formeditor_page #basicoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  } 
    #formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  } 
    #formeditor_page #basicoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;} 
    #formeditor_page #advancedoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;} 
  }
  
  .class123-firstname, .class123-lastname { width:95px; margin-right:10px; }
  .class123-address { max-width:400px; }  
  .class123-hidden { display:none !important; }
  /* NEW STYLES END */  
</style>   
   <!--[if lte IE 8]>
  <style type="text/css">
  .class123-likert_style_li2 {height:56px;}
  </style>
  <![endif]-->
<script type="text/javascript">
<!--
var selectedfield='';
var multiPageCurent=1;
var multiPageTotal=1;
function InputActions(field,id) {
  var textcolor='#726E62';
  var hltextcolor='#000000';

  if (id==selectedfield) { /* alert('do nothing'); */ }
  else
    {
    // first we unhighlight the previous field, if any
    if (selectedfield!='')
      {
      lid=selectedfield;
      lidsec=lid.replace('row','rowsec');
      
      // reparam culoare textlabels
      var tr=document.getElementById(lid);
  
      if (document.getElementsByClassName) 
        {
      var textlabels = tr.getElementsByClassName('class123-label');
      for (j=0;j<textlabels.length;j++)
        textlabels[j].style.color=textcolor;
        }
        else
        {
        var textlabels=tr.getElementsByTagName('label');
        for (j=0;j<textlabels.length;j++)
          if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=textcolor;
        }
      var oldbg='';
      if (document.getElementById('errorflag'+lid)!=null)
        oldbg=document.getElementById('errorflag'+lid).value;
        
      // reparam culoare bg td
      var tds = tr.getElementsByTagName('div');
      for (j=0;j<tds.length;j++)
        tds[j].parentNode.parentNode.style.background=oldbg;
      
      // reparam culoare bg td sec
      if (document.getElementById(lidsec) != null)
        {
        var trsec=document.getElementById(lidsec);
        tds = trsec.getElementsByTagName('div');
        for (j=0;j<tds.length;j++)  
          tds[j].parentNode.parentNode.style.background=oldbg;
        }
      }
    // then we highlight the new one
    selectedfield=id;
    
    lid=id;
    lidsec=lid.replace('row','rowsec');

    // modificam culoare textlabels
    var tr=document.getElementById(lid);
    if (document.getElementsByClassName) 
      {   
    var textlabels = tr.getElementsByClassName('class123-label');
    for (j=0;j<textlabels.length;j++)
      textlabels[j].style.color=hltextcolor;
      }
      else
      {
      var textlabels=tr.getElementsByTagName('label');
      for (j=0;j<textlabels.length;j++)
        if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=hltextcolor;
      }

    // modificam culoare bg td
    var tds = tr.getElementsByTagName('div');for (j=0;j<tds.length;j++)
        tds[j].parentNode.parentNode.style.background='#FEF1C1';
      
      // modificam culoare bg td sec
      if (document.getElementById(lidsec) != null)
        {
        var trsec=document.getElementById(lidsec);
        tds = trsec.getElementsByTagName('div');
        for (j=0;j<tds.length;j++)  
          tds[j].parentNode.parentNode.style.background='#FEF1C1';
        }
    }
  // now the field rules
  
  InputRules2('beginning','0'); 
}
//IB: functie utila pt cand vrem sa introducem virgula de formatare la price
// function addDecimalPoints(inputElement) {
  // inputElement.value=inputElement.value.replace(/\D/g, '');
  // var inputValue = inputElement.value.replace(',', '').split('').reverse().join(''); // reverse
  // var newValue = '';
  // for (var i = 0; i < inputValue.length; i++) {
    // if (i % 3 == 0) {
      // newValue += ',';
    // }
    // newValue += inputValue[i];
  // }
  // newValue = newValue.split('').reverse().join('');
  // inputElement.value = newValue.substr(0, newValue.length-1);
// }

function IsFullDateEntered(c_id) {
if((document.getElementById('id123-control'+c_id+'-1') != null)&&(document.getElementById('id123-control'+c_id+'-2')!=null)&&(document.getElementById('id123-control'+c_id+'-3')!=null))
  {
  if  ((document.getElementById('id123-control'+c_id+'-1').value!='')&&(document.getElementById('id123-control'+c_id+'-2').value!='')&&(document.getElementById('id123-control'+c_id+'-3').value!=''))
    document.getElementById('id123-control'+c_id).value=document.getElementById('id123-control'+c_id+'-1').value+'/'+document.getElementById('id123-control'+c_id+'-2').value+'/'+document.getElementById('id123-control'+c_id+'-3').value;
  }
}
//-->
</script><form  class="form col-sm-12 col-md-12 col-lg-12" onsubmit="RefreshFrameHeight(1); return checkSubmitAllowed();" action="http://www.123contactform.com/form-921242/Project-CHUCK-Parent-Survey" id="mainform123" method="post" name="mainform123" enctype="multipart/form-data">
<input type="hidden" name="action" value="verify"/><input type="hidden" name="special_autoresponder" id="special_autoresponder" value=""/><input type="hidden" name="language" value="en"/><input type="hidden" name="languageChanged" value="no"/><div class="class123_maintable maintable_centered" style="min-width:150px; " >
<script type='text/javascript'>
var  js_ctype_arr = new Array();
var  js_cobject_arr = new Array();
js_ctype_arr[7349689]=5;
js_cobject_arr[7349689]=0;
js_ctype_arr[7520413]=3;
js_cobject_arr[7520413]=0;
js_ctype_arr[7520288]=3;
js_cobject_arr[7520288]=0;
js_ctype_arr[7520301]=3;
js_cobject_arr[7520301]=0;
js_ctype_arr[7520303]=3;
js_cobject_arr[7520303]=0;
js_ctype_arr[7520307]=3;
js_cobject_arr[7520307]=0;
js_ctype_arr[7469747]=6;
js_cobject_arr[7469747]=13;
js_ctype_arr[7469788]=5;
js_cobject_arr[7469788]=0;
js_ctype_arr[7520478]=3;
js_cobject_arr[7520478]=0;
js_ctype_arr[7520482]=3;
js_cobject_arr[7520482]=0;
js_ctype_arr[7520484]=1;
js_cobject_arr[7520484]=0;
js_ctype_arr[7469596]=0;
js_cobject_arr[7469596]=0;
js_ctype_arr[7469749]=6;
js_cobject_arr[7469749]=13;
js_ctype_arr[7469802]=5;
js_cobject_arr[7469802]=0;
js_ctype_arr[7520485]=3;
js_cobject_arr[7520485]=0;
js_ctype_arr[7520490]=3;
js_cobject_arr[7520490]=0;
js_ctype_arr[7520491]=3;
js_cobject_arr[7520491]=0;
js_ctype_arr[7520493]=1;
js_cobject_arr[7520493]=0;
js_ctype_arr[7520494]=2;
js_cobject_arr[7520494]=0;
js_ctype_arr[7469819]=6;
js_cobject_arr[7469819]=13;
js_ctype_arr[7469807]=5;
js_cobject_arr[7469807]=0;
js_ctype_arr[7520539]=3;
js_cobject_arr[7520539]=0;
js_ctype_arr[7520528]=3;
js_cobject_arr[7520528]=0;
js_ctype_arr[7520525]=3;
js_cobject_arr[7520525]=0;
js_ctype_arr[7520526]=3;
js_cobject_arr[7520526]=0;
js_ctype_arr[7469711]=0;
js_cobject_arr[7469711]=0;
js_ctype_arr[7469820]=6;
js_cobject_arr[7469820]=13;
js_ctype_arr[7469812]=5;
js_cobject_arr[7469812]=0;
js_ctype_arr[7520518]=3;
js_cobject_arr[7520518]=0;
js_ctype_arr[7520522]=3;
js_cobject_arr[7520522]=0;
js_ctype_arr[7520524]=3;
js_cobject_arr[7520524]=0;
js_ctype_arr[7520591]=2;
js_cobject_arr[7520591]=0;

</script>

<div class='optionscontainer pagination'><div><div class='class123-pagination'><div class='class123-progressPercDiv'><div class='class123-progressPercBar' id='id123-progressPercBar' style=''>0%</div><div class='class123-pagename' id='id123-pagename' style="max-width:94%;">Health and Wellness</div></div><script type="text/javascript">
        var id123_pagename_height=document.getElementById('id123-pagename').offsetHeight+10;//margin-top:5px;add 10 because of margin,to center 
        document.getElementById('id123-progressPercBar').style.height=id123_pagename_height+'px';
        document.getElementById('id123-progressPercBar').style.lineHeight=id123_pagename_height+'px';
      </script></div><div class='clearFloat'></div>
<br/></div></div>

<!-- fieldcontainer -->
<div id="fieldcontainer1" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style="">
<div id="row1" class="currentPage1 currentPageActive ">
<div class="uberfieldlat" style="text-align: left;">
<label class="class123-label  fontbold" id="id123-title7349689">Health and Wellness


</label>
</div><input type="hidden" id="errorflagrow1" value=""/></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer2" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   " style=" ">
<div id="row2" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520413" for="id123-control7520413_0" >How many hours a week does your child spend doing physical activity? </label></div></div>
<div id="rowsec2" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow2" value=""/><input  style="background:transparent;border:0;" title="0-3" type="radio" id="id123-control7520413_0" onclick="InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(7520413); ;  " name="control7520413" value="0-3"/><label  class="class123-label class123-radio" for="id123-control7520413_0">0-3</label><br/>
 <input  style="background:transparent;border:0;" title="4-7" type="radio" id="id123-control7520413_1" onclick="InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(7520413); ;  " name="control7520413" value="4-7"/><label  class="class123-label class123-radio" for="id123-control7520413_1">4-7</label><br/>
 <input  style="background:transparent;border:0;" title="8-11" type="radio" id="id123-control7520413_2" onclick="InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(7520413); ;  " name="control7520413" value="8-11"/><label  class="class123-label class123-radio" for="id123-control7520413_2">8-11</label><br/>
 <input  style="background:transparent;border:0;" title="12+" type="radio" id="id123-control7520413_3" onclick="InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(7520413); ;  " name="control7520413" value="12+"/><label  class="class123-label class123-radio" for="id123-control7520413_3">12+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer3" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   " style=" ">
<div id="row3" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520288" for="id123-control7520288_0" >Do you spend your time doing physical activities with your child?</label></div></div>
<div id="rowsec3" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow3" value=""/><span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520288_0" onclick="InputActions(this,'row3');" onkeyup=" InputActions(this,'row3');  " onchange="InputRules(7520288); ;  " name="control7520288" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520288_0">Yes</label> </span>
<span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520288_1" onclick="InputActions(this,'row3');" onkeyup=" InputActions(this,'row3');  " onchange="InputRules(7520288); ;  " name="control7520288" value="No"/><label  class="class123-label class123-radio" for="id123-control7520288_1">No</label> </span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer4" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   " style=" ">
<div id="row4" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520301" for="id123-control7520301_0" >Does your child play any school or organized club sports?</label></div></div>
<div id="rowsec4" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow4" value=""/><span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520301_0" onclick="InputActions(this,'row4');" onkeyup=" InputActions(this,'row4');  " onchange="InputRules(7520301); ;  " name="control7520301" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520301_0">Yes</label> </span>
<span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520301_1" onclick="InputActions(this,'row4');" onkeyup=" InputActions(this,'row4');  " onchange="InputRules(7520301); ;  " name="control7520301" value="No"/><label  class="class123-label class123-radio" for="id123-control7520301_1">No</label> </span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer5" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   " style=" ">
<div id="row5" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520303" for="id123-control7520303_0" >Are you familiar with the Heads Up Program or concussions in youth sports?</label></div></div>
<div id="rowsec5" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow5" value=""/><span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520303_0" onclick="InputActions(this,'row5');" onkeyup=" InputActions(this,'row5');  " onchange="InputRules(7520303); ;  " name="control7520303" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520303_0">Yes</label> </span>
<span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520303_1" onclick="InputActions(this,'row5');" onkeyup=" InputActions(this,'row5');  " onchange="InputRules(7520303); ;  " name="control7520303" value="No"/><label  class="class123-label class123-radio" for="id123-control7520303_1">No</label> </span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer6" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   " style=" ">
<div id="row6" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520307" for="id123-control7520307_0" >How many hours a day does your child spend watching television or playing video games?</label></div></div>
<div id="rowsec6" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow6" value=""/><input  style="background:transparent;border:0;" title="0-2" type="radio" id="id123-control7520307_0" onclick="InputActions(this,'row6');" onkeyup=" InputActions(this,'row6');  " onchange="InputRules(7520307); ;  " name="control7520307" value="0-2"/><label  class="class123-label class123-radio" for="id123-control7520307_0">0-2</label><br/>
 <input  style="background:transparent;border:0;" title="3-5" type="radio" id="id123-control7520307_1" onclick="InputActions(this,'row6');" onkeyup=" InputActions(this,'row6');  " onchange="InputRules(7520307); ;  " name="control7520307" value="3-5"/><label  class="class123-label class123-radio" for="id123-control7520307_1">3-5</label><br/>
 <input  style="background:transparent;border:0;" title="6+" type="radio" id="id123-control7520307_2" onclick="InputActions(this,'row6');" onkeyup=" InputActions(this,'row6');  " onchange="InputRules(7520307); ;  " name="control7520307" value="6+"/><label  class="class123-label class123-radio" for="id123-control7520307_2">6+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer7" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100   navigationButtons" style=" ">
<div id="row7" class="currentPage1 currentPageActive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title7469747" for="id123-control7469747" > </label></div></div>
<div id="rowsec7" class="rowdown currentPage1 currentPageActive">
<div align="left" class="rowdownsmall" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow7" value=""/><div style='width:100%;' class='class123-nabig'>
<input type="submit" name="goNextPage" id="goNextPage" class="formdefaultbut" style="background-color:#FF8515; padding:3px 10px" value="Next Page ›"/>
</div>
<div style='width:100%;' class='class123-pbline'><img src="http://dflzqrzibliy5.cloudfront.net/images3/page-break.png"/></div>
<div style='clear:both;'></div>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer8" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100 " style="">
<div id="row8" class="currentPage2 currentPageInactive ">
<div class="uberfieldlat" style="text-align: left;">
<label class="class123-label  fontbold" id="id123-title7469788">Education
</label>
</div><input type="hidden" id="errorflagrow8" value=""/></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer9" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100   " style=" ">
<div id="row9" class="currentPage2 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520478" for="id123-control7520478_0" >How many hours a week do you commit to helping with your child's schoolwork and education?</label></div></div>
<div id="rowsec9" class="currentPage2 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow9" value=""/><input  style="background:transparent;border:0;" title="0-3" type="radio" id="id123-control7520478_0" onclick="InputActions(this,'row9');" onkeyup=" InputActions(this,'row9');  " onchange="InputRules(7520478); ;  " name="control7520478" value="0-3"/><label  class="class123-label class123-radio" for="id123-control7520478_0">0-3</label><br/>
 <input  style="background:transparent;border:0;" title="4-7" type="radio" id="id123-control7520478_1" onclick="InputActions(this,'row9');" onkeyup=" InputActions(this,'row9');  " onchange="InputRules(7520478); ;  " name="control7520478" value="4-7"/><label  class="class123-label class123-radio" for="id123-control7520478_1">4-7</label><br/>
 <input  style="background:transparent;border:0;" title="8-11" type="radio" id="id123-control7520478_2" onclick="InputActions(this,'row9');" onkeyup=" InputActions(this,'row9');  " onchange="InputRules(7520478); ;  " name="control7520478" value="8-11"/><label  class="class123-label class123-radio" for="id123-control7520478_2">8-11</label><br/>
 <input  style="background:transparent;border:0;" title="12+" type="radio" id="id123-control7520478_3" onclick="InputActions(this,'row9');" onkeyup=" InputActions(this,'row9');  " onchange="InputRules(7520478); ;  " name="control7520478" value="12+"/><label  class="class123-label class123-radio" for="id123-control7520478_3">12+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer10" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100   " style=" ">
<div id="row10" class="currentPage2 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520482" for="id123-control7520482_0" >How many books does your child read during the summer?</label></div></div>
<div id="rowsec10" class="currentPage2 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow10" value=""/><input  style="background:transparent;border:0;" title="0-2" type="radio" id="id123-control7520482_0" onclick="InputActions(this,'row10');" onkeyup=" InputActions(this,'row10');  " onchange="InputRules(7520482); ;  " name="control7520482" value="0-2"/><label  class="class123-label class123-radio" for="id123-control7520482_0">0-2</label><br/>
 <input  style="background:transparent;border:0;" title="3-5" type="radio" id="id123-control7520482_1" onclick="InputActions(this,'row10');" onkeyup=" InputActions(this,'row10');  " onchange="InputRules(7520482); ;  " name="control7520482" value="3-5"/><label  class="class123-label class123-radio" for="id123-control7520482_1">3-5</label><br/>
 <input  style="background:transparent;border:0;" title="6+" type="radio" id="id123-control7520482_2" onclick="InputActions(this,'row10');" onkeyup=" InputActions(this,'row10');  " onchange="InputRules(7520482); ;  " name="control7520482" value="6+"/><label  class="class123-label class123-radio" for="id123-control7520482_2">6+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer11" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100   " style=" ">
<div id="row11" class="currentPage2 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520484" for="id123-control7520484" >What aspect of your child's education needs the most improvement?</label></div></div>
<div id="rowsec11" class="currentPage2 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow11" value=""/><textarea id="id123-control7520484" name="control7520484" onclick="InputActions(this,'row11');" onkeyup=" InputActions(this,'row11');  " onchange="InputRules(7520484); ;  " rows="4" style="width:280px; max-width:96% !important; position:relative;"></textarea>
<div style="clear:both;"></div></div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer12" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100   " style=" ">
<div id="row12" class="currentPage2 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7469596" for="id123-control7469596" >What is your child's grade average (GPA)?</label></div></div>
<div id="rowsec12" class="currentPage2 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow12" value=""/><input id="id123-control7469596" name="control7469596"  onclick="InputActions(this,'row12');" onkeyup=" InputActions(this,'row12');  " onchange="InputRules(7469596); ;  " type="text" value="" style="width:160px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer13" class="fieldcontainer currentPage2 currentPageInactive  fieldwidth100   navigationButtons" style=" ">
<div id="row13" class="currentPage2 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title7469749" for="id123-control7469749" > </label></div></div>
<div id="rowsec13" class="currentPage2 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow13" value=""/><div style='width:100%;' class='class123-nabig'>
<input type="submit" id='id123-pbrev' name="goPrevPage" onclick='document.mainform123.reset();' class="class123-pbprev" value="‹ Previous"/>
<input type="submit" name="goNextPage" id="goNextPage" class="formdefaultbut" style="background-color:#FF8515; padding:3px 10px" value="Next Page ›"/>
</div>
<div style='width:100%;' class='class123-pbline'><img src="http://dflzqrzibliy5.cloudfront.net/images3/page-break.png"/></div>
<div style='clear:both;'></div>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer14" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100 " style="">
<div id="row14" class="currentPage3 currentPageInactive ">
<div class="uberfieldlat" style="text-align: left;">
<label class="class123-label  fontbold" id="id123-title7469802">Best of the Batch Foundation

</label>
</div><input type="hidden" id="errorflagrow14" value=""/></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer15" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   " style=" ">
<div id="row15" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520485" for="id123-control7520485_0" >Are you a volunteer for any of the Best of the Batch Foundation programs or events? </label></div></div>
<div id="rowsec15" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow15" value=""/><span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520485_0" onclick="InputActions(this,'row15');" onkeyup=" InputActions(this,'row15');  " onchange="InputRules(7520485); ;  " name="control7520485" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520485_0">Yes</label> </span>
<span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520485_1" onclick="InputActions(this,'row15');" onkeyup=" InputActions(this,'row15');  " onchange="InputRules(7520485); ;  " name="control7520485" value="No"/><label  class="class123-label class123-radio" for="id123-control7520485_1">No</label> </span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer16" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   " style=" ">
<div id="row16" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520490" for="id123-control7520490_0" >Have you visited our website before?</label></div></div>
<div id="rowsec16" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow16" value=""/><span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520490_0" onclick="InputActions(this,'row16');" onkeyup=" InputActions(this,'row16');  " onchange="InputRules(7520490); ;  " name="control7520490" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520490_0">Yes</label> </span>
<span class="class123-sidebyside"><input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520490_1" onclick="InputActions(this,'row16');" onkeyup=" InputActions(this,'row16');  " onchange="InputRules(7520490); ;  " name="control7520490" value="No"/><label  class="class123-label class123-radio" for="id123-control7520490_1">No</label> </span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer17" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   " style=" ">
<div id="row17" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520491" for="id123-control7520491_0" >How many years has your child been a part of any Best of the Batch Foundation programs? (Project CHUCK, Next Level Athletics, D&R Sportsmanship, etc.)</label></div></div>
<div id="rowsec17" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow17" value=""/><input  style="background:transparent;border:0;" title="1-2" type="radio" id="id123-control7520491_0" onclick="InputActions(this,'row17');" onkeyup=" InputActions(this,'row17');  " onchange="InputRules(7520491); ;  " name="control7520491" value="1-2"/><label  class="class123-label class123-radio" for="id123-control7520491_0">1-2</label><br/>
 <input  style="background:transparent;border:0;" title="3-4" type="radio" id="id123-control7520491_1" onclick="InputActions(this,'row17');" onkeyup=" InputActions(this,'row17');  " onchange="InputRules(7520491); ;  " name="control7520491" value="3-4"/><label  class="class123-label class123-radio" for="id123-control7520491_1">3-4</label><br/>
 <input  style="background:transparent;border:0;" title="4-5" type="radio" id="id123-control7520491_2" onclick="InputActions(this,'row17');" onkeyup=" InputActions(this,'row17');  " onchange="InputRules(7520491); ;  " name="control7520491" value="4-5"/><label  class="class123-label class123-radio" for="id123-control7520491_2">4-5</label><br/>
 <input  style="background:transparent;border:0;" title="6+" type="radio" id="id123-control7520491_3" onclick="InputActions(this,'row17');" onkeyup=" InputActions(this,'row17');  " onchange="InputRules(7520491); ;  " name="control7520491" value="6+"/><label  class="class123-label class123-radio" for="id123-control7520491_3">6+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer18" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   " style=" ">
<div id="row18" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520493" for="id123-control7520493" >Why did you choose our program for your child?</label></div></div>
<div id="rowsec18" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow18" value=""/><textarea id="id123-control7520493" name="control7520493" onclick="InputActions(this,'row18');" onkeyup=" InputActions(this,'row18');  " onchange="InputRules(7520493); ;  " rows="4" style="width:280px; max-width:96% !important; position:relative;"></textarea>
<div style="clear:both;"></div></div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer19" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   " style=" ">
<div id="row19" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520494" for="id123-control7520494_0" >Which of these areas would you like to see more of or learn about? (Select up to three)</label></div></div>
<div id="rowsec19" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow19" value=""/><input type="checkbox"  id="id123-control7520494_0" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-0"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_0">Scholarships</label><br/>

 <input type="checkbox"  id="id123-control7520494_1" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-1"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_1">Tutoring</label><br/>

 <input type="checkbox"  id="id123-control7520494_2" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-2"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_2">After-School Programs</label><br/>

 <input type="checkbox"  id="id123-control7520494_3" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-3"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_3">Mentoring Programs</label><br/>

 <input type="checkbox"  id="id123-control7520494_4" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-4"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_4">Education Field Trips</label><br/>

 <input type="checkbox"  id="id123-control7520494_5" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-5"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_5">Reading and Computer Literacy</label><br/>

 <input type="checkbox"  id="id123-control7520494_6" style="background:transparent;border:0; " onclick="InputActions(this,'row19');" onkeyup=" InputActions(this,'row19');  " onchange="InputRules(7520494); ;  " name="control7520494-6"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520494_6">Health & Wellness</label><br/>

 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer20" class="fieldcontainer currentPage3 currentPageInactive  fieldwidth100   navigationButtons" style=" ">
<div id="row20" class="currentPage3 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title7469819" for="id123-control7469819" > </label></div></div>
<div id="rowsec20" class="currentPage3 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow20" value=""/><div style='width:100%;' class='class123-nabig'>
<input type="submit" id='id123-pbrev' name="goPrevPage" onclick='document.mainform123.reset();' class="class123-pbprev" value="‹ Previous"/>
<input type="submit" name="goNextPage" id="goNextPage" class="formdefaultbut" style="background-color:#FF8515; padding:3px 10px" value="Next Page ›"/>
</div>
<div style='width:100%;' class='class123-pbline'><img src="http://dflzqrzibliy5.cloudfront.net/images3/page-break.png"/></div>
<div style='clear:both;'></div>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer21" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100 " style="">
<div id="row21" class="currentPage4 currentPageInactive ">
<div class="uberfieldlat" style="text-align: left;">
<label class="class123-label  fontbold" id="id123-title7469807">Socioeconomic
</label>
</div><input type="hidden" id="errorflagrow21" value=""/></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer22" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   " style=" ">
<div id="row22" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520539" for="id123-control7520539_0" >Does your child participate in the free or reduced lunch program in school?</label></div></div>
<div id="rowsec22" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow22" value=""/><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520539_0" onclick="InputActions(this,'row22');" onkeyup=" InputActions(this,'row22');  " onchange="InputRules(7520539); ;  " name="control7520539" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520539_0">Yes</label><br/>
 <input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520539_1" onclick="InputActions(this,'row22');" onkeyup=" InputActions(this,'row22');  " onchange="InputRules(7520539); ;  " name="control7520539" value="No"/><label  class="class123-label class123-radio" for="id123-control7520539_1">No</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer23" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   " style=" ">
<div id="row23" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520528" for="id123-control7520528_0" >Has your child every been bullied? </label></div></div>
<div id="rowsec23" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow23" value=""/><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520528_0" onclick="InputActions(this,'row23');" onkeyup=" InputActions(this,'row23');  " onchange="InputRules(7520528); ;  " name="control7520528" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520528_0">Yes</label><br/>
 <input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520528_1" onclick="InputActions(this,'row23');" onkeyup=" InputActions(this,'row23');  " onchange="InputRules(7520528); ;  " name="control7520528" value="No"/><label  class="class123-label class123-radio" for="id123-control7520528_1">No</label><br/>
 <input  style="background:transparent;border:0;" title="Unsure" type="radio" id="id123-control7520528_2" onclick="InputActions(this,'row23');" onkeyup=" InputActions(this,'row23');  " onchange="InputRules(7520528); ;  " name="control7520528" value="Unsure"/><label  class="class123-label class123-radio" for="id123-control7520528_2">Unsure</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer24" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   " style=" ">
<div id="row24" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520525" for="id123-control7520525_0" >What is your average annual household income?</label></div></div>
<div id="rowsec24" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow24" value=""/><input  style="background:transparent;border:0;" title="Unemployed" type="radio" id="id123-control7520525_0" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="Unemployed"/><label  class="class123-label class123-radio" for="id123-control7520525_0">Unemployed</label><br/>
 <input  style="background:transparent;border:0;" title="< $19,999" type="radio" id="id123-control7520525_1" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="< $19,999"/><label  class="class123-label class123-radio" for="id123-control7520525_1">< $19,999</label><br/>
 <input  style="background:transparent;border:0;" title="$20,000-$29,999" type="radio" id="id123-control7520525_2" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="$20,000-$29,999"/><label  class="class123-label class123-radio" for="id123-control7520525_2">$20,000-$29,999</label><br/>
 <input  style="background:transparent;border:0;" title="$30,000-$39,999" type="radio" id="id123-control7520525_3" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="$30,000-$39,999"/><label  class="class123-label class123-radio" for="id123-control7520525_3">$30,000-$39,999</label><br/>
 <input  style="background:transparent;border:0;" title="$40,000-$59,999" type="radio" id="id123-control7520525_4" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="$40,000-$59,999"/><label  class="class123-label class123-radio" for="id123-control7520525_4">$40,000-$59,999</label><br/>
 <input  style="background:transparent;border:0;" title="$60,000-$79,000" type="radio" id="id123-control7520525_5" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="$60,000-$79,000"/><label  class="class123-label class123-radio" for="id123-control7520525_5">$60,000-$79,000</label><br/>
 <input  style="background:transparent;border:0;" title="$80,000+" type="radio" id="id123-control7520525_6" onclick="InputActions(this,'row24');" onkeyup=" InputActions(this,'row24');  " onchange="InputRules(7520525); ;  " name="control7520525" value="$80,000+"/><label  class="class123-label class123-radio" for="id123-control7520525_6">$80,000+</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer25" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   " style=" ">
<div id="row25" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520526" for="id123-control7520526_0" >What is your current marital status?</label></div></div>
<div id="rowsec25" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow25" value=""/><input  style="background:transparent;border:0;" title="Married" type="radio" id="id123-control7520526_0" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Married"/><label  class="class123-label class123-radio" for="id123-control7520526_0">Married</label><br/>
 <input  style="background:transparent;border:0;" title="Single" type="radio" id="id123-control7520526_1" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Single"/><label  class="class123-label class123-radio" for="id123-control7520526_1">Single</label><br/>
 <input  style="background:transparent;border:0;" title="In a Relationship" type="radio" id="id123-control7520526_2" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="In a Relationship"/><label  class="class123-label class123-radio" for="id123-control7520526_2">In a Relationship</label><br/>
 <input  style="background:transparent;border:0;" title="Divorced" type="radio" id="id123-control7520526_3" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Divorced"/><label  class="class123-label class123-radio" for="id123-control7520526_3">Divorced</label><br/>
 <input  style="background:transparent;border:0;" title="Widowed" type="radio" id="id123-control7520526_4" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Widowed"/><label  class="class123-label class123-radio" for="id123-control7520526_4">Widowed</label><br/>
 <input  style="background:transparent;border:0;" title="Civil Union" type="radio" id="id123-control7520526_5" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Civil Union"/><label  class="class123-label class123-radio" for="id123-control7520526_5">Civil Union</label><br/>
 <input  style="background:transparent;border:0;" title="Separated" type="radio" id="id123-control7520526_6" onclick="InputActions(this,'row25');" onkeyup=" InputActions(this,'row25');  " onchange="InputRules(7520526); ;  " name="control7520526" value="Separated"/><label  class="class123-label class123-radio" for="id123-control7520526_6">Separated</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer26" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   " style=" ">
<div id="row26" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7469711" for="id123-control7469711" >How many children under the age of 18 are in your household?</label></div></div>
<div id="rowsec26" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow26" value=""/><input id="id123-control7469711" name="control7469711"  onclick="InputActions(this,'row26');" onkeyup=" InputActions(this,'row26');  " onchange="InputRules(7469711); ;  " type="text" value="" style="width:160px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer27" class="fieldcontainer currentPage4 currentPageInactive  fieldwidth100   navigationButtons" style=" ">
<div id="row27" class="currentPage4 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title7469820" for="id123-control7469820" > </label></div></div>
<div id="rowsec27" class="currentPage4 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow27" value=""/><div style='width:100%;' class='class123-nabig'>
<input type="submit" id='id123-pbrev' name="goPrevPage" onclick='document.mainform123.reset();' class="class123-pbprev" value="‹ Previous"/>
<input type="submit" name="goNextPage" id="goNextPage" class="formdefaultbut" style="background-color:#FF8515; padding:3px 10px" value="Next Page ›"/>
</div>
<div style='width:100%;' class='class123-pbline'><img src="http://dflzqrzibliy5.cloudfront.net/images3/page-break.png"/></div>
<div style='clear:both;'></div>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer28" class="fieldcontainer currentPage5 currentPageInactive  fieldwidth100 " style="">
<div id="row28" class="currentPage5 currentPageInactive ">
<div class="uberfieldlat" style="text-align: left;">
<label class="class123-label  fontbold" id="id123-title7469812">Social Media</label>
</div><input type="hidden" id="errorflagrow28" value=""/></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer29" class="fieldcontainer currentPage5 currentPageInactive  fieldwidth100   " style=" ">
<div id="row29" class="currentPage5 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520518" for="id123-control7520518_0" >Does your household have internet access? (Excluding smartphone/cellphone usage)</label></div></div>
<div id="rowsec29" class="currentPage5 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow29" value=""/><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520518_0" onclick="InputActions(this,'row29');" onkeyup=" InputActions(this,'row29');  " onchange="InputRules(7520518); ;  " name="control7520518" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520518_0">Yes</label><br/>
 <input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520518_1" onclick="InputActions(this,'row29');" onkeyup=" InputActions(this,'row29');  " onchange="InputRules(7520518); ;  " name="control7520518" value="No"/><label  class="class123-label class123-radio" for="id123-control7520518_1">No</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer30" class="fieldcontainer currentPage5 currentPageInactive  fieldwidth100   " style=" ">
<div id="row30" class="currentPage5 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520522" for="id123-control7520522_0" >Are you active in social media? (Facebook, Twitter, Instagram, etc.)</label></div></div>
<div id="rowsec30" class="currentPage5 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow30" value=""/><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520522_0" onclick="InputActions(this,'row30');" onkeyup=" InputActions(this,'row30');  " onchange="InputRules(7520522); ;  " name="control7520522" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520522_0">Yes</label><br/>
 <input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520522_1" onclick="InputActions(this,'row30');" onkeyup=" InputActions(this,'row30');  " onchange="InputRules(7520522); ;  " name="control7520522" value="No"/><label  class="class123-label class123-radio" for="id123-control7520522_1">No</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer31" class="fieldcontainer currentPage5 currentPageInactive  fieldwidth100   " style=" ">
<div id="row31" class="currentPage5 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520524" for="id123-control7520524_0" >Do you monitor your child's social media pages?</label></div></div>
<div id="rowsec31" class="currentPage5 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow31" value=""/><input  style="background:transparent;border:0;" title="Yes" type="radio" id="id123-control7520524_0" onclick="InputActions(this,'row31');" onkeyup=" InputActions(this,'row31');  " onchange="InputRules(7520524); ;  " name="control7520524" value="Yes"/><label  class="class123-label class123-radio" for="id123-control7520524_0">Yes</label><br/>
 <input  style="background:transparent;border:0;" title="No" type="radio" id="id123-control7520524_1" onclick="InputActions(this,'row31');" onkeyup=" InputActions(this,'row31');  " onchange="InputRules(7520524); ;  " name="control7520524" value="No"/><label  class="class123-label class123-radio" for="id123-control7520524_1">No</label><br/>
 </div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer32" class="fieldcontainer currentPage5 currentPageInactive  fieldwidth100   " style=" ">
<div id="row32" class="currentPage5 currentPageInactive">
<div class="rowup"  style="text-align:left; ">
<label class="class123-label class123-fieldname  " id="id123-title7520591" for="id123-control7520591_0" >What social media outlets does your child use?</label></div></div>
<div id="rowsec32" class="currentPage5 currentPageInactive">
<div class='rowdown' align="left" style="padding-bottom:7px; "><input type="hidden" id="errorflagrow32" value=""/><input type="checkbox"  id="id123-control7520591_0" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-0"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_0">Facebook</label><br/>

 <input type="checkbox"  id="id123-control7520591_1" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-1"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_1">Twitter</label><br/>

 <input type="checkbox"  id="id123-control7520591_2" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-2"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_2">Instagram</label><br/>

 <input type="checkbox"  id="id123-control7520591_3" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-3"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_3">Google+</label><br/>

 <input type="checkbox"  id="id123-control7520591_4" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-4"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_4">Tumblr</label><br/>

 <input type="checkbox"  id="id123-control7520591_5" style="background:transparent;border:0; " onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-5"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_5">Blogger</label><br/>

 <input type="checkbox" id="id123-control7520591_6" style="background:transparent;border:0;" onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " name="control7520591-6"  value="yes" /><label class="class123-label class123-checkbox" for="id123-control7520591_6">other:</label><input type="text" name="control7520591-other" id="id123-control7520591-other" value="" onkeydown="if (this.value!='') {document.getElementById('id123-control7520591_6').checked=true;}" onkeyup="if (this.value!='') {document.getElementById('id123-control7520591_6').checked=true;}" onclick="InputActions(this,'row32');" onkeyup=" InputActions(this,'row32');  " onchange="InputRules(7520591); ;  " size="15" />
</div></div>
</div>
<!-- fieldcontainer ends -->


<!-- Buttons begin here -->
<div id="fieldcontainer33" class='fieldcontainer thebuttons' style="">
<div class="currentPage5 currentPageInactive"><div class='rowup' align="left"><input type="hidden" name="go_back_and_edit" id="go_back_and_edit" value="0" /><input type="submit" id='id123-pbrev' onclick='document.mainform123.reset();' name="goPrevPage" class="class123-pbprev" value="‹ Previous"/>
<input OnClick="  this.style.display='none'; insertPleaseWaitDiv(this,'Please wait...');  " type="submit" class="formdefaultbut" style="background-color:#FF8515; padding:3px 10px" id="id123-button-send"  value="Send"/> 
</div></div>
</div>
<!-- fieldcontainer ends -->
<!-- Buttons end here -->
</div>
<input type="hidden" name="PHPSESSID" value="fd1oso2a30hknnnmj4k1v5h6k2"/>
<div style="height:1px; display: none; visibility: hidden;">
<input type="text" name="email"/>
</div>

    <input type="hidden" name="hiddenfields" id="hiddenfields" value=""/>
    <input type="hidden" name="hiddenfields_pages" id="hiddenfields_pages" value="control7469788;control7520478;control7520482;control7520484;control7469596;control7469749;control7469802;control7520485;control7520490;control7520491;control7520493;control7520494;control7469819;control7469807;control7520539;control7520528;control7520525;control7520526;control7469711;control7469820;control7469812;control7520518;control7520522;control7520524;control7520591;"/>
    <input type="hidden" name="activepage" id="activepage" value="1"/>    
    <input type="hidden" name="totalpages" id="totalpages" value="5"/>    
    <input type="hidden" name="nextpagenr" id="nextpagenr" value="2"/>
    <input type="hidden" name="prevpagenr" id="prevpagenr" value="0"/>    
    <script type="text/javascript">
    InputRules('firsttime')
    </script><input type="hidden" name="usage" value="e"/>
</form>
</center><!-- formalign ends -->
<script type="text/javascript">multiPageTotal=5;</script>
<p style='clear:both'></p>

  <script type="text/javascript"> 
  //MNG: Special Script for Sisow And multipage
  SisowAndMultipage();
  </script>
  
<!-- www.123contactform.com script ends here -->
