<div class="row">
		
<div class="row col-sm-8 col-md-8 col-lg-8">
	<h2>Welcome to Project C.H.U.C.K. Registration</h2>
	<p>	   
	Project C.H.U.C.K. stands for Continuously Helping Uplift Community Kids. Our goal is to provide our youth with the resources they need in order to give their best efforts in all they do, both now and in the future.
	</p>
	<p>
	Project C.H.U.C.K is the largest Best of the Batch Foundation program and was created for boys and girls 7-18 years old. For seven weeks, participants play a total of 20 basketball games with the ultimate goal of advancing in the playoffs and to the championship game on Championship Day. In addition to providing children with something to do, Project C.H.U.C.K. teaches them discipline, self-confidence, team orientation, and the fundamental skills of basketball, all while having a great time!
	</p>
	<p>If you are an admin, <%= link_to "click here to login.", login_path %></p>
	<p>If you would like to register for Project C.H.U.C.K. 2014, <%= link_to "click here to register.", new_registration_path %></p>
	</div>
	<div class="row col-sm-2 col-md-2 col-lg-2">
		<%= image_tag 'chargee.gif', :size => "250x278", :style => "margin-left:50px;margin-top:25px" %>
	</div>

</div>