<p>
	<b>Name:</b><%= @guardian.name %>
</p>

<p>
    <b>Email:</b> <%= @user.email %>
</p>

<p>
  <b>Role:</b> <%= @user.role=="member" ? "Member":"Admin" %>
</p>

<p>
  <b>User Status:</b> <%= @user.active ? "Active" : "Inactive" %>
</p>