<div id="page7" class="myHide">

<p id="surveyIntroduction">
  In order to continue to keep our programs free, funders are asking us to conduct a survey.
  So please take a moment to fill out the following survey in order to keep helping other become
  the Best of the Batch!
</p>

<%= render :partial => "partials/survey_form" %>


</div>