<div id="surveyPage" class="col-sm-12 col-md-12 col-lg-12">

<p id="surveyIntroduction" class="col-sm-12 col-md-12 col-lg-8">
  In order to continue to keep our programs free, funders are asking us to conduct a survey.
  So please take a moment to fill out the following <u>anonymous</u> survey in order to keep helping others become
  the Best of the Batch!
</p>

<div class="col-sm-12 col-md-12 col-lg-12">
<%= link_to "Survey Here!", "http://www.123contactform.com/form-921242/Project-CHUCK-Parent-Survey", :id => "mySurveyLink", :class => "btn btn-success" %>
</div>

</div>