<% if @tournaments.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped tournTable">
    <thead>
      <tr>
        <th>Name</th>
  			<th>Start Date</th>
  			<th>End Date</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= link_to tournament.name, tournament_path(tournament) %></td>
  				<td><%= tournament.start_date.strftime("%B %d, %Y") %></td>
          <td><%= tournament.end_date.strftime("%B %d, %Y") %></td>
          <td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_tournament_path(tournament), :class => 'btn btn-md' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>