<div class="row">
	<div class="span12">
		<h2>Tournament Details</h2>
		<%= render :partial => "tournament_details" %>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<span class='glyphicon glyphicon-list'></span> Display All Tournaments"), tournaments_path, :class => 'btn btn-default myDisplayAllButton'  %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit #{@tournament.name}"), edit_tournament_path(@tournament), :class => 'btn btn-primary myEditButton' %>&nbsp;&nbsp;
  <%= link_to raw("<span class='glyphicon glyphicon-trash'></span> Delete #{@tournament.name}"), tournament_path(@tournament), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>