<h3> Unassigned Registered Students </h3>
<% if @unassigned_students.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped tournTable no-search">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age(as of June 1)</th>
        <th>Time Submitted</th>
      </tr>
    </thead>
    <tbody>
      <% @unassigned_students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.age_as_of_june_1 %></td>
          <th><%= student.registrations.current.first.created_at.strftime("%m/%d @ %I:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>