<div id="home-waitlist row col-sm-12 col-md-12 col-lg-">
  <h3>Waitlist (By Bracket)</h3>
  <% @brackets.each do |bracket| %> 
    <%= render :partial => "waitlist", :locals => { :b => bracket, :min => bracket.min_age, :max => bracket.max_age } %> 
  <% end %>
</div>