<div id="home-waitlist row col-sm-12 col-md-12 col-lg-12">
  <h3>Waitlist (By Bracket)</h3>
  <% if @brackets.size > 0 %>
    <% @brackets.each do |bracket| %> 
      <%= render :partial => "waitlist", :locals => { :b => bracket} %> 
    <% end %>
  <% else %>
    <%= "There are currently no brackets in the Project C.H.U.C.K. system." %>
  <% end %>
</div>