body {
  padding-top:70px;
}

@media only screen and (device-width: 768px) {
  body {
    padding-top:100px;
  }
  
  .nav li {
    font-size:65%;
  }
  
  #sidebar-left img {
    position:inline;
  }
}

input, select, textarea {
  padding: 1%;
  margin:1%;
}

table, th, td, tr h3,  {
  text-align: left;
}

h3 {
  font-weight:800;
  font-size:20pt;
}

label {
  font-size: 1.2em;
}

fieldset, legend {
  padding-top: 2%;
}

.nav {
  font-size:1.5em;
}

.row {
  padding: 0 0 1% 0;
}

.address {
  margin-left:6em;
}

.address-county {
  margin-left:2em;
}

.registerStudentButton {
  margin-left:1em;
}

.continue {
  margin-left:15em;
}

.myHide {
  display:none;
}

.myDanger {
  color:#f95c5c;
}

.teamNotesHeader {
  font-size:20pt;
  padding-top:7px;
}

.teamNotes {
/*   position:absolute; */
/*   border:2px solid; */
/*   border-color:#f4f4f4; */
  font-size:12pt;
  font-weight:100;
  font-style:italic;
  overflow:auto;
}

.agreementText {
  font-size:12pt;
  font-weight:900;
}

#myLogin, #myLogout, #userName {
  position:absolute;
  right:0;
  padding:8px;
  font-size: 1.2em;
}

#myLogin, #myLogout {
  margin-right:5%;
}

#myContinue {
  float:right;
  margin-right:46%;
}

#registrationNestedSubmit {
  float:right;
  margin-right:39%;
}

#myPrevious, #myContinue, #registrationFormCancel {
  margin-top:13px;
}


#myPrevious, #myContinue, #registrationNestedSubmit, #registrationFormCancel {
  font-size:13pt;
}

#username {
/*   margin-right:9%; */
/*   padding-bottom:12px;   */
}

#usernameLink {
  color: white;
  text-decoration: underline;
  cursor: auto;
}

#main_content {
  padding-top:0;
  padding-bottom:10%;
/*   padding-left:7%; */
}

#home-main-content {
/*   margin-left:10%; */
}

#home-missing_docs, #home-demographics,
#home-waitlist, #home-assigned-texts,
#home-unassigned-students, #home-receive-texts{
  border-bottom:2px solid #ccc;
}

#sidebar-right img{
  position:fixed;
  right:0;
}

#sidebar-left img {
  position:fixed;
}

