 <% if @inactive_households.empty? %>
  &nbsp;&nbsp;<em>None at this time</em>
<% else %>
  <table class="table table-striped tournTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Home Adress</th>
        <th>Number of Registered Children</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_households.each do |household| %>
        <tr>
          <td><%= link_to household.name, household_path(household) %></td>
          <td><%= household.full_address %></td>
          <td><%= household.students.size %></td>
          <td><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_household_path(household), :class => 'btn btn-md' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>