<div class="row">
	<div class="span12">
		<h3>Households</h3>
		<%= render :partial => "households" %>
	</div>
</div>

<!--<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Household"), new_household_path, :class => 'btn btn-primary', :id => 'Create Household' %> -->